.form-container{
    width: 700px;
    margin: 4% auto;
}
.form-container input,textarea,input{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
}
.form-container button,button{
    padding: 14px 28px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
}