.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 4%;
}
.product-card{
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    padding: 20px;
}
.product-card p{
    margin: 16px 0;
}

.product-card img{
    width: 220px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 20px;
}