.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-weight: bold;
}
.btns button,.counter-container button{
    padding: 12px 28px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
}
.title{
    text-align: center;
    padding: 50px;
}
.title p{
    margin: 14px 0;
}
.card-container{
    width: 1400px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 4% auto;
}
.card{
    margin: 20px auto;
    width: 300px;
    text-align: center;
    align-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
.card img{
    width: 100%;
    height: 180px;
}
.product-info{
    margin-top: 14px;
    text-align: left;
}
.product-info p{
    margin: 12px 0;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* counter container */
.counter-container{
    width: 500px;
    height: 200px;
    background-color: lightblue;    
    margin: 4% auto;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
table{
    width: 80%;
    margin: 4% auto;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
td button{
    padding: 10px 24px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(238, 57, 57);
    color: white;
    cursor: pointer;
}